<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.expense_tracker">

<application
    android:name="io.flutter.app.FlutterApplication"
    android:label="Expense Tracker"
    android:icon="@mipmap/ic_launcher">
    <activity
        android:name=".MainActivity"
        android:launchMode="singleTop">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <!-- Add any other activities, services, or configurations here -->
</application>

<!-- The INTERNET permission is required for development. Specifically,
     the Flutter tool needs it to communicate with the running application
     to allow setting breakpoints, to provide hot reload, etc. -->
<uses-permission android:name="android.permission.INTERNET" />
</manifest>







